@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  transition: 0.3s ease all;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body.dark {
  background-color: #032D45;
}

.body-home {
  position: initial;
}

header {
  margin: 2rem 0.5rem 0 0;
  height: 3rem;
}
header .button-switch {
  background-color: #032D45;
  border-radius: 100rem;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
  float: right;
  display: flex;
  justify-content: space-between;
}
header .button-switch::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 10rem;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
header .button-switch.active {
  background: orange;
  color: #000;
}
header .button-switch.active::after {
  right: 0;
  left: unset;
}
header .button-switch span {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: block;
  background: none;
  color: white;
}

.logo {
  width: 7.5rem;
  height: 7.5rem;
  justify-self: center;
  margin-bottom: 2rem;
  margin-top: -3rem;
}
body.dark .logo {
  background-color: white;
  border-radius: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
body.dark label {
  color: white;
}

input {
  background-color: #FFFDFD;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(126, 120, 120, 0.25);
  border-radius: 2rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
}

.input-name, .input-surnames, .input-email, .input-password {
  margin-bottom: 2rem;
  caret-color: #5BCBCB;
}

a {
  font-size: 1.4rem;
  color: #757875;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
}
body.dark a:hover {
  color: white;
}

.container-button {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 0 auto;
}

.primary-button {
  background-color: #5BCBCB;
}

.primary-button, .secondary-button {
  border-radius: 0.8rem;
  border: none;
  width: 100%;
  height: 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 4px rgba(183, 164, 164, 0.25);
}

.secondary-color {
  background: #CB5B5B;
}

.login-button {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.header-container .fa-regular {
  height: 3rem;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
body.dark .header-container .fa-regular {
  color: white;
}
.header-container .fa-regular .user {
  width: 4.7rem;
  height: 0.4rem;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3rem;
}
.header-container .button-home {
  width: 6.2rem;
  height: 3.1rem;
  justify-self: end;
}

main .container-search {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
main .container-search form input {
  width: 28rem;
  background: #fff url("../icons/search-outline.svg") no-repeat 0.9rem center;
  text-align: center;
}
body.dark main .container-search .fa-solid {
  color: white;
}
main .container-levels {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .container-levels div {
  width: 7.4rem;
  height: 2.7rem;
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 0.5rem;
}
main .container-levels div:nth-child(1) {
  background: #BAE4F5;
  box-shadow: 0px 4px 4px rgba(91, 203, 203, 0.25);
}
main .container-levels div:nth-child(2) {
  background: #EFEFEF;
  box-shadow: 0px 4px 4px #F3C03C;
}
main .container-levels div:nth-child(3) {
  background: #EFEFEF;
  box-shadow: 0px 4px 4px #992D2D;
}
main .container-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 5rem);
  width: 28.7rem;
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  gap: 1.2rem;
  background: #EDE8E8;
  border-radius: 2.1rem;
}
main .container-colors .container-color {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: auto;
  background: #992D2D;
}
main .container-colors .container-color p {
  text-align: center;
  margin-top: 4.2rem;
}
main .container-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
main .container-result .result-color {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0.1rem solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main .container-result .opcion-container {
  display: inherit;
  flex-direction: column;
  gap: 1rem;
}
main .container-result .opcion-container .opcion-color {
  display: inherit;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
body.dark main .container-result .opcion-container .opcion-color {
  color: white;
}
main .container-result .opcion-container .opcion-color .card {
  width: 77px;
  height: 35px;
  background-color: #D9D9D9;
  border-radius: 7px;
}
main .container-result .opcion-container .opcion-color button {
  width: 6.1rem;
  height: 2rem;
  border: none;
  border-radius: 0.6rem;
  color: #FFFFFF;
  background: #175F94;
}
main .container-save-colors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
main .container-save-colors button {
  width: 63px;
  height: 23px;
  background: #CB5B5B;
  box-shadow: 0px 4px 4px #B7A4A4;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
}
main .container-save-colors .save-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #666666;
  width: 215px;
  height: 31px;
  box-shadow: 0px 4px 4px rgba(183, 164, 164, 0.25);
  border-radius: 4px;
}
main .container-save-colors .save-colors .One-color-save {
  width: 23px;
  height: 22px;
  border-radius: 50%;
  background-color: #CBE289;
  margin: auto;
}
main .container-save-colors .save-colors .One-color-save p {
  margin: 4rem 2rem 1rem 1rem;
}

/*# sourceMappingURL=home.css.map */
