@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  transition: 0.3s ease all;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body.dark {
  background-color: #032D45;
}

.body-home {
  font-family: "Roboto", sans-serif;
  background-color: white;
  transition: 0.3s ease all;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.body-home.dark {
  background-color: #032D45;
}

header {
  margin: 2rem 0.5rem 0 0;
  height: 3rem;
}
header .button-switch {
  background-color: #032D45;
  border-radius: 100rem;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
  float: right;
  display: flex;
  justify-content: space-between;
}
header .button-switch::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 10rem;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
header .button-switch.active {
  background: orange;
  color: #000;
}
header .button-switch.active::after {
  right: 0;
  left: unset;
}
header .button-switch span {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  display: block;
  background: none;
  color: white;
}

.logo {
  width: 7.5rem;
  height: 7.5rem;
  justify-self: center;
  margin-bottom: 2rem;
  margin-top: -3rem;
}
body.dark .logo {
  background-color: white;
  border-radius: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
body.dark label {
  color: white;
}

input {
  background-color: #FFFDFD;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(126, 120, 120, 0.25);
  border-radius: 2rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
}

.input-name, .input-surnames, .input-email, .input-password {
  margin-bottom: 2rem;
  caret-color: #5BCBCB;
}

a {
  font-size: 1.4rem;
  color: #757875;
  text-decoration: none;
  text-align: center;
  margin-bottom: 2rem;
}
body.dark a:hover {
  color: white;
}

.container-button {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin: 0 auto;
}

.primary-button {
  background-color: #5BCBCB;
}

.primary-button, .secondary-button {
  border-radius: 0.8rem;
  border: none;
  width: 100%;
  height: 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 4px rgba(183, 164, 164, 0.25);
}

.secondary-color {
  background: #CB5B5B;
}

.login-button {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

main {
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
}
main .form-container {
  width: 30rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main .redes-container {
  display: flex;
  gap: 2rem;
}
main .redes-container .redes__facebook, main .redes-container .redes__whatsapp,
main .redes-container .redes__google {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
}
main .redes-container .redes__facebook {
  background: rgb(85, 139, 168);
}
main .redes-container .redes__whatsapp {
  background: rgb(34, 230, 109);
}
main .redes-container .redes__google {
  background: rgb(231, 81, 27);
}

h1 {
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.5rem;
}
body.dark h1 {
  color: white;
}

/*# sourceMappingURL=style.css.map */
