@mixin flexbox{
    display: flex;
    justify-content:center;
    align-items:center;
}

@mixin flexbox-column{
    display: flex;
    flex-direction: column;
}

@mixin no-scroll{
    //no realice scroll
    transition: .3s ease all;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}