@import "../sass/globales.scss";
.header-container{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .fa-regular{
        height: 3rem;
        display: flex;
        flex-direction: column;
        font-weight: 400;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        body.dark &{
            color:$light;
        }
        .user{
            width: 4.7rem;
            height: 0.4rem;
            font-weight: 300;
            font-size:1rem;
            line-height: 1.3rem;
        }
    }
    .button-home{
        width: 6.2rem;
        height: 3.1rem;
        justify-self: end;
    }
}
main{
    .container-search{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        form{
            input{
                width: 28rem;
                background: #fff url("../icons/search-outline.svg")
                no-repeat 0.9rem center;
                text-align: center;
            }
        }
        .fa-solid{
            body.dark &{
                color:$light;
            }
        }
    }
    .container-levels{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        div{
            width: 7.4rem;
            height: 2.7rem;
            border-radius: 4px;
            margin-bottom: 2rem;
            padding: 0.5rem;
        }
        div:nth-child(1){
            background: #BAE4F5;
            box-shadow: 0px 4px 4px rgba(91, 203, 203, 0.25);
        }
        div:nth-child(2){
            background: #EFEFEF;
            box-shadow: 0px 4px 4px #F3C03C;
        }
        div:nth-child(3){
            background: #EFEFEF;
            box-shadow: 0px 4px 4px #992D2D;
        }
    }
    .container-colors{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3,5rem);
        width: 28.7rem;
        height:auto;
        margin: 0 auto;
        padding: 2rem;
        gap: 1.2rem;
        background: #EDE8E8;
        border-radius: 2.1rem;
        .selected-color{
            width: 4rem;
            height: 4rem;
            border-radius:50%;
            margin: auto;
            p{
                text-align: center;
                margin-top: 4.2rem;
            }
        }
        .indianRed{
            background-color:#CD5C5C;
        }
        .lightCoral{
            background-color:#F08080;
        }
        .salmon{
            background-color:#FA8072;
        }
        .darkSalmon{
            background-color:#E9967A;
        }
        .lightSalmon{
            background-color:#FFA07A;
        }
        .crimson{
            background-color:#DC143C;
        }
        .red{
            background-color:#FF0000;
        }
        .fireBrick{
            background-color:#B22222 ;
        }
        .darkRed{
            background-color:#8B0000;
        }
        .pink{
            background-color:#FFC0CB;
        }
        .lightPink{
            background-color:#FFB6C1;
        }
        .hotPink{
            background-color:#FF69B4;
        }
    }
    .container-result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        .result-color{
            width: 9rem;
            height: 9rem;
            border-radius: 50%;
            background-color: #ffffff;
            border: 0.1rem solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .opcion-container{
            display: inherit;
            flex-direction: column;
            gap: 1rem;
            .opcion-color{
                display: inherit;
                flex-direction: row;
                align-items: center;
                gap: 1rem;
                body.dark &{
                    color:$light;
                }
                .card{
                    width: 77px;
                    height: 35px;
                    background-color:#D9D9D9;
                    border-radius: 7px;
                }
                button{
                    width: 6.1rem;
                    height: 2rem;
                    border:none;
                    border-radius: 0.6rem;
                    color: #FFFFFF;
                    background: #175F94;
                }
            }
        }
    }
    .container-save-colors{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        button{
            width: 63px;
            height: 23px;
            background: #CB5B5B;
            box-shadow: 0px 4px 4px #B7A4A4;
            color: #FFFFFF;
            border-radius: 4px;
            border: none;
        }
        .save-colors{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            background:#666666;
            width: 215px;
            height: 31px;
            box-shadow: 0px 4px 4px rgba(183, 164, 164, 0.25);
            border-radius: 4px;
            .One-color-save{
                width: 23px;
                height: 22px;
                border-radius:50%;
                background-color: #CBE289;
                margin: auto;
                p{
                    margin: 4rem 2rem 1rem 1rem;
                }
            }
        }
    }
}